* {
    box-sizing: border-box;
}

body {
    background-color: #e0e1dd;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: hsl(211, 53%, 11%);

}

h1 {
    text-align: center;
}

header {
    height: 50px;
    background-color: hsl(214, 23%, 56%);
    display: flex;
    align-items: center;
    justify-content: right;
    width: 100%;
}

a {
    color: hsl(211, 53%, 11%);
    padding: 10px;
    text-decoration: none;
    margin-right: 15px;
}

a:hover {
    background-color: hsl(212, 29%, 36%);
    border-radius: 2px;
    cursor: pointer;
    color: hsl(75, 6%, 87%);
}


/* żeby strona była podzielona na 3 kolumny */
.col-1 {
    width: 33.3%;
    float: left
}

.col-2 {
    width: 33.3%;
    float: left
}

.col-3 {
    width: 33.4%;
    float: left
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

/* żeby strona pasowała na telefonach, width 100 żeby kolumny były pod sobą */

@media only screen and (max-width: 768px) {
    [class*="col-"] {
        width: 100%;
    }
}

.para {
    text-align: justify;
    width: 100%
}

table {
    width: 80%;
    border-collapse: collapse;
    border: 1px solid black;
    box-shadow: 5px 5px 2px black;
    margin:20px 0;
    margin-left: 10%;
}

thead, th {
    background-color: black;
    color: aliceblue;
    padding: 10px;
    height: 20%;
    border: 1px solid black;
}

td {
    padding: 20px;
    border: 1px solid black;
}

tr:hover {
    background-color: hsl(215, 32%, 72%);
    
}

img {
    width: 60%;
    height: 80%;
    margin-top: 1cm;
    border: 5px solid hsl(212, 29%, 36%);
}




/* info do tabelek: */
/* th:nth-child(1) jak chcemy konkretną kolumnę  */


/* na przyszłośc, tu nie wykorzystany :( 

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: hsl(219, 37%, 17%);
    display: flex;
    align-items:flex-end;
  
}
    */